.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    margin:0;
	width:  405px;
    height: 295px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    position:relative;
    width:405px;
	height: 295px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right:0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    display:none !important;
}

/* ____________________ Buttons ____________________ */

#jcarousel .jcarousel-prev,
#jcarousel .jcarousel-next {
	cursor:pointer;
	position: absolute;
	top: 30%;
	width: 25px;
	height: 113px;
	outline:none;
}
#jcarousel .jcarousel-next {
	background:url(../images/carousel_arrows.png) no-repeat #fff;
	background-position:-31px 0;
	right:0; 
	opacity:0.75;
	filter: alpha(opacity=75);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#jcarousel .jcarousel-prev {
	background:url(../images/carousel_arrows.png) no-repeat #fff;
	background-position:0 0;
	left:0;
	opacity:0.75;
	filter: alpha(opacity=75);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#jcarousel .jcarousel-next:hover,
#jcarousel .jcarousel-prev:hover {
	opacity:1;
	filter: alpha(opacity=100);
}

.jcarousel-item.jcarousel-item-horizontal.jcarousel-item-1.jcarousel-item-1-horizontal > img {max-width:100%;}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-item {width:290px;height:216px;}
}


















